.timer {
  display: flex;
  justify-content: center;
  gap: 1.9vw;

  .timer-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.521vw 0 0 0;
    min-width: 2.8vw;
    &:last-child {
      margin-right: 0;
    }

    .time-text {
      display: block;
      font-weight: 400;
      font-size: 0.729vw;
      text-align: center;
      color: #ffffff;
      margin: 0 0 0.5vw 0;
    }
  }
}

.time-number {
  font-weight: 700 !important;
  font-size: 1.875vw !important;
  text-align: center;
  background: linear-gradient(
                  180deg,
                  #fadf78 27.72%,
                  #f7e9ba 78.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

@media (max-width: 768px) {
  .time-number {
    font-size: 7.467vw !important;
  }
  .timer {
    gap: 8vw;
    margin: 2.667vw 0 0 0;

    .timer-elem {
      min-width: 11.2vw;

      .time-text {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 1.5vw 0;
      }
    }
  }
  .main__button {
    margin: 8vw auto 0;
    width: 34.667vw;
    height: 12.267vw;
    font-size: 4vw;
  }
}
