.timer {
  display: flex;
  justify-content: center;
  gap: 2.083vw;

  .timer-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.521vw 0 0 0;

    &:last-child {
      margin-right: 0;
    }

    .time-number {
      font-weight: 700;
      font-size: 1.875vw;
      text-align: center;
      background: linear-gradient(
                      180deg,
                      #fadf78 27.72%,
                      #f7e9ba 78.26%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-emphasis-color: transparent;
    }

    .time-text {
      display: block;
      font-weight: 400;
      font-size: 0.729vw;
      text-align: center;
      color: #ffffff;
      margin: 0.104vw 0 0 0;
    }
  }
}

@media (max-width: 768px) {
  .timer {
    gap: 8vw;
    margin: 2.667vw 0 0 0;

    .timer-elem {
      .time-number {
        font-size: 7.467vw;
      }

      .time-text {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  .main__button {
    margin: 8vw auto 0;
    width: 34.667vw;
    height: 12.267vw;
    font-size: 4vw;
  }
}
